WEATHER_KEY = 'REPLACE API KEY HERE'
TWITTER_CONSUMER_KEY = 'REPLACE API KEY HERE'
TWITTER_CONSUMER_SECRET = 'REPLACE API KEY HERE'
TWITTER_TOKEN = 'REPLACE API KEY HERE'
TWITTER_TOKEN_SECRET = 'REPLACE API KEY HERE'